*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: black;
    color: white;
}

body{

}

#caixa{
    width: 100%;
    height: 90%;
}

form{
    left: 50%;
    top:50%;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 400px;
    width: 60%;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px #909090;
}

input{
    margin: 10px 0px;
    width: 80%;
    height: 5%;
    border:none;
    border-bottom: 1px solid #909090;
    background: none;
}

#enviar{
    margin-top: 4%;
    margin-bottom: 2%;
    width: 50%;
    height: 5%;
    background: #009ACD;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
#enviar:hover{
    box-shadow: 0px 0px 3px #909090;
}

#tema{
    left: 50%;
    top:85%;
    position: absolute;
    transform: translate(-50%, -50%);
    background:none;
    border: none;
    color: #009ACD;
    font-size: 20px;
    cursor: pointer;
    
}
#tema:hover{
    color: #505050;
    transition: 0.5s;
}